{%load static%}

<head>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
</head>
<body>
	<div>
		{{ form.media }}
		<form method="post">
			{% csrf_token %}
			{{form}}
			<input type="submit" />
		</form>
	</div>
	
	{%if recettes%}
		{%for r in recettes%}
			* {{r}}<br/>
		{%endfor%}
	{%endif%}

	<script>
		function addChart() {
			$.ajax({
				url: "https://www.carrefour.fr/api/advertising?event-type=addToCart&page-id=addToCartApiDesktop&environment=d&item=3276557653274&quantity=1&price=3.99",
				beforeSend: function(request) {
				    request.setRequestHeader("Access-Control-Allow-Origin", "carrefour.fr");
				 },
				type: 'GET',
			    crossDomain: true,
			    success: function() { alert("Success"); },
			    error: function() { alert('Failed!'); },
			    
			});
		}
	</script>
	{%if courses%}
		{% for rayon, list_rayon in courses.items %}
		<h3>{{rayon}}</h3>
		{%for ingredient, list_unite in list_rayon.items%}
			{{ingredient}} : 
			{%for unite, quantite in list_unite.items%}
				{% if forloop.last %}
					{{quantite}} {{unite}}
				{%else%}
					{{quantite}} {{unite}} + 
				{%endif%}
			{%endfor%}
			<br />
		{%endfor%}
		{%endfor%}
	{%endif%}
	
	{%if placard%}
		<b>Vérifier les ingrédients suivants :</b><br />
		{%for element in placard%}
			{{element}}<br />
		{%endfor%}
	{%endif%}
	
	<button id='add' onclick="addChart();" >Chart add</button>
</body>