{%load static%}

<head>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
</head>
<body>
	<div>
		{{ form.media }}
		<form method="post">
			{% csrf_token %}
			{{form}}
			<input type="submit" />
		</form>
	</div>
	
	{%if recettes%}
		{%for r in recettes%}
			* {{r}}<br/>
		{%endfor%}
	{%endif%}
	
	{%if courses%}
		{% for rayon, list_rayon in courses.items %}
		<h2>{{rayon}}</h2>
		{%for ingredient, list_unite in list_rayon.items%}
			{{ingredient}} : 
			{%for unite, quantite in list_unite.items%}
				{% if forloop.last %}
					{{quantite}} {{unite}}
				{%else%}
					{{quantite}} {{unite}} + 
				{%endif%}
			{%endfor%}
			<br />
		{%endfor%}
		{%endfor%}
	{%endif%}
	
</body>