{%load static%}

<html>
<head>
</head>
<body>

{%block main_content%}

{%if courses%}
<table><tr>
		{% for rayon in courses.get_rayons %}
		<td>
					<h3>{{rayon.name}}</h3>
					{%for ingredient in rayon.get_ingredients%}
						{{ingredient.name}} : 
						{%for unite, quantite in ingredient.liste.items%}
							{% if forloop.last %}
									{{quantite|floatformat:2}} {{unite}}
							{%else%}
									{{quantite|floatformat:2}} {{unite}} + 
							{%endif%}
						{%endfor%}
						({%for plat in ingredient.get_recettes%}
							{% if forloop.last %}
									{{plat}}
							{%else%}
									{{plat}},
							{%endif%}
						{%endfor%})
						<br />
					{%endfor%}<br />
					</td>
			{%if forloop.counter|divisibleby:"4" %}</tr><tr>{%endif%}
			{%endfor%}
			</tr></table>
	{%endif%}
	<br /><br />
	<div style="float:left">
		{%if placard%}
			<b>Vérifier les ingrédients suivants :</b><br />
			{%for element in placard%}
				{{element}}<br />
			{%endfor%}
		{%endif%}
	</div>
	<div style="float:right">
	<b>Liste des plats :</b><br />
	{%for tag, r in repas.items%}
	({{tag}}) : {{r.recette.nom}}<br />
	{%endfor%}
	</div>

{%endblock%}

</body>
</html>