{%extends "base.html"%}
{%load static%}

{%block main_content%}

{%if courses%}
	<a href="{%url 'courses' menu.id%}?mode=print" target="_blank" /><img width=25 height=25 src="{%static 'images/printer.png'%}" /></a>
	<div class="prod">
		{% for rayon, list_rayon in courses.items %}
		<div class="grid_3">
	       <div class="box">
	          	<div class="maxheight">
					<h3>{{rayon}}</h3>
					{%for ingredient, list_unite in list_rayon.items%}
						{{ingredient}} : 
						{%for unite, quantite in list_unite.items%}
							{%if unite == "0repas"%}
								{%for r in quantite%}
									({{r}})
								{%endfor%}

							{%else%}
								{% if forloop.last %}
									{{quantite}} {{unite}}
								{%else%}
									{{quantite}} {{unite}} + 
								{%endif%}
							{%endif%}
						{%endfor%}
						<a href="https://www.carrefour.fr/s?q={{ingredient.nom}}" target="_blank"><img width=8 height=8 src="{%static 'images/carrefour_logo.png'%}" /></a>
						<br />
					{%endfor%}<br />
			</div></div></div>
			{%endfor%}
					
	</div>
	{%endif%}
	<br /><br />
	<div style="float:left">
		{%if placard%}
			<b>Vérifier les ingrédients suivants :</b><br />
			{%for element in placard%}
				{{element}}<br />
			{%endfor%}
		{%endif%}
	</div>
	<div style="float:right">
	<b>Liste des plats :</b><br />
	{%for tag, r in repas.items%}
	({{tag}}) : {{r.recette.nom}}<br />
	{%endfor%}
	</div>

{%endblock%}