{%load static%}
{%load getportions%}
<html>
<head>
<link rel="stylesheet" href="{% static "/css/style.css" %}" >
</head>
<body>
{%block main_content%}
<div style="float:left;margin-right:15px">
	<table style:"border: 1px solid">
	<tr>
	<td></td>
	{%for d in dates %}
		<td><b>{{d|date:"D d N"}}</b></td>
		{%if forloop.counter in weekdays %}
			</tr>
			<tr><td>Midi</td>
			{%for i in sevendays%}
				<td height="80px" width="100px"></td>
			{%endfor%}
			</tr>
			<tr><td>Soir</td>
			{%for i in sevendays%}
				<td height="80px" width="100px"></td>
			{%endfor%}
			</tr>
			<tr><td>Activités</td>
			<td height="80px" width="100px"><center><img width=40 height=40 src="{%static 'images/basketball.png'%}" /><br/><img width=40 height=40 src="{%static 'images/pilates.png'%}" /> <img width=40 height=40 src="{%static 'images/hand.png'%}" /></center></td>
			<td height="80px" width="100px"></td>
			<td height="80px" width="100px"><center><img width=50 height=50 src="{%static 'images/fencing.png'%}" /></center></td>
			<td height="80px" width="100px"></td>
			<td height="80px" width="100px"></td>
			<td height="80px" width="100px"><center><img width=50 height=50 src="{%static 'images/fencing.png'%}" /><br /><img width=50 height=50 src="{%static 'images/pilates.png'%}" /></center></td>
			<td height="80px" width="100px"></td>
			</tr>
			<tr><td></td>
		{%endif%}
	{%endfor%}
	</tr>
	</table>
</div>

<div>
{%for r in menu.recettes.all %}
{%if r.is_batch %}
	{%for brecipe in r.batch_set.all%}
		&#x2610; {{brecipe.nom}} (<i>{{r.nom}}, {{r.reference}}, {{r.source}}</i>) [{{r|ratio:menu}}]<br />
	{%endfor%}
{%else%}
	&#x2610; {{r.nom}} (<i>{{r.reference}}
	{%if r.source|slice:":8" == 'https://' %}
	{%else%}
	, {{r.source}}
	{%endif%}
	</i>) [{{r|ratio:menu}}]<br />
{%endif%}

{%endfor%}
</div>
{%endblock%}

</body>
</html>